html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
}
.flex {
  display: flex;
}
.flexcolumn{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.vcenter {
  align-items: center;
}
.hcenter {
 justify-content: center;
}
.space_between{
 justify-content: space-between;
 width:100%
}
.space_around{
 justify-content: space-around;
 flex-wrap: wrap;
}
.ydkjs-quiz{
 height: 90vh;  
}
