html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
}
.flex {
  display: flex;
}
.flexcolumn{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.vcenter {
  align-items: center;
}
.hcenter {
 justify-content: center;
}
.space_between{
 justify-content: space-between;
 width:100%
}
.space_around{
 justify-content: space-around;
 flex-wrap: wrap;
}
.title{
  position: fixed;
  top: 5vh;
  left: 2vw;
}
.card{
 height: 100vh;
}
.answer{
  position:fixed;
  bottom:5vh;
  right:2vw;
}
.nextQuestion{
  position:fixed;
  right:2vw;
  bottom: 15vh;
  font-size:2vw;
}
.previousQuestion{
  position:fixed;
  left:2vw;
  bottom: 15vh;
  font-size:2vw;
}
